<div class="container">
  <div class="list">
    <div class="list-group">
      <div class="list-header">A</div>
      <div class="list-content">
        <div>Apple</div>
        <div>Avagado</div>
        <div>Apricot</div>
      </div>
    </div>
    <div class="list-group">
      <div class="list-header">B</div>
      <div class="list-content">
        <div>Banana</div>
        <div>Berries</div>
        <div>bread</div>
      </div>
    </div>
    <div class="list-group">
      <div class="list-header">C</div>
      <div class="list-content">
        <div>carrot</div>
        <div>Citrus</div>
        <div>Cinnomon</div>
      </div>
    </div>
    <div class="list-group">
      <div class="list-header">D</div>
      <div class="list-content">
        <div>Dog</div>
        <div>Danger</div>
        <div>Diaper</div>
      </div>
    </div>
    <div class="list-group">
        <div class="list-header">E</div>
        <div class="list-content">
          <div>Apple</div>
          <div>Avagado</div>
          <div>Apricot</div>
        </div>
      </div>
      <div class="list-group">
        <div class="list-header">F</div>
        <div class="list-content">
          <div>Banana</div>
          <div>Berries</div>
          <div>bread</div>
        </div>
      </div>
      <div class="list-group">
        <div class="list-header">G</div>
        <div class="list-content">
          <div>carrot</div>
          <div>Citrus</div>
          <div>Cinnomon</div>
        </div>
      </div>
      <div class="list-group">
        <div class="list-header">H</div>
        <div class="list-content">
          <div>Dog</div>
          <div>Danger</div>
          <div>Diaper</div>
        </div>
      </div>
  </div>
</div>
