<!-- <iframe
  width="100%"
  height="300"
  src="//jsfiddle.net/Jhansimani/g512zLbk/2/embedded/js,html,css,result/dark/"
  allowfullscreen="allowfullscreen"
  allowpaymentrequest
  frameborder="0"
></iframe>

<iframe
  height="300"
  style="width: 100%"
  scrolling="no"
  title="scope"
  src="https://codepen.io/jhansimani1/embed/XWxNyQy?default-tab=html%2Cresult"
  frameborder="no"
  loading="lazy"
  allowtransparency="true"
  allowfullscreen="true"
>
  See the Pen <a href="https://codepen.io/jhansimani1/pen/XWxNyQy"> scope</a> by
  Jhansimani (<a href="https://codepen.io/jhansimani1">@jhansimani1</a>) on
  <a href="https://codepen.io">CodePen</a>.
</iframe> -->

<app-header></app-header>

<app-register></app-register>

<select appOutclick (onClickOutside)="onClickOutside($event)">
  <option>option 1</option>
  <option>option 2</option>
  <option>option 3</option>
  <option>option 4</option>
  <option>option 5</option>
</select>
<p>
  I turned the corner
  <ng-container *ngIf="title"> and saw {{ title }}. I waved </ng-container>
  and continued on my way.
</p>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="password">password</label>
    <input type="password" id="password" formControlName="password" />
    <div
      *ngIf="!password.valid && (password.dirty || password.touched)"
      class="error-block"
    >
      <p *ngIf="password.errors?.['required']">Please enter Password</p>
    </div>
  </div>
  <div class="form-group">
    <label for="passwordConfirm">password</label>
    <input type="password" id="password" formControlName="passwordConfirm" />
    <div
      *ngIf="
        !passwordConfirm.valid &&
        (passwordConfirm.dirty || passwordConfirm.touched)
      "
      class="error-block"
    >
      <p *ngIf="passwordConfirm.errors?.['required']">
        Please enter passwordConfirm
      </p>
      <p *ngIf="passwordConfirm.errors?.['mustMatch']">
        Password and confirm password must match
      </p>
    </div>
  </div>
  <button>Submit</button>
</form>

<form [formGroup]="interestsForm">
  <label>Hobby</label>
  <input type="text" #hobbyValue />
  <button type="submit" (click)="addHobby(hobbyValue.value)">Add Hobby</button>
  <div formArrayName="hobbies">
    <div *ngFor="let control of hobbies.controls; let i = index">
      <label for="hobby-{{ i }}">Hobby-{{ i }}</label>
      <input
        type="text"
        id="hobby-{{ i }}"
        [formControlName]="i"
        [value]="control"
      />
      <button type="button" (click)="deleteHobby(i)">Delete</button>
    </div>
  </div>
</form>

<button (click)="loadCompoent()">Add Dynamic Component</button>
<ng-template appDynamicLoader></ng-template>

<div class="box1">box 1</div>

<app-parent>
  <h2>I am projected content</h2>
  <app-list-header></app-list-header>
</app-parent>


<app-modal></app-modal> 
<router-outlet></router-outlet>
<!-- </div> -->
<!-- <app-shadow-dom-encapsulation></app-shadow-dom-encapsulation> -->

<!-- <div class="content"> -->
